section.project-form-page {
  @include outer-container;
  $title-margin: 1em 0em 0em 0em;
  $big-font-size: 32px;

  margin-top: 1.5em;
  padding: 1.5em;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;


  h1.page-title {
    margin-top: $title-margin;
    font-size: $big-font-size;
  }

  textarea {
      min-height: 15em;
    }

  div.post_content {
    textarea {
      min-height: 15em;
    }
  }

}
