$typo-color: #444;

section.post-list {
  @include outer-container;

  padding-top: 2em;

  .list {
    @include span-columns(7);
    @include shift(1);
  }

  article.item {
  }
}

section.post-container {
  @include outer-container;

  .post {
    @include span-columns(10);
    @include shift(1);

    padding-top: 2em;

    .content {
      padding-top: 0.5em;
    }
  }
}
