$text-background: white;
$btn-color: #71BD73;
$background: #269;
$mobile: new-breakpoint(max-width 500px 4);
$margin: new-breakpoint(max-width 980px 4);

@mixin blueprint-blackground() {
  background-color: $background;
  background-image: linear-gradient(white 1px, transparent 1px),
  linear-gradient(90deg, white 1px, transparent 1px),
  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
}
@mixin centered() {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
section.project-page {
  $std-margin: 2em 2em 1.5em 2em;
  $big-font-size: 36px;
  $border-radius: 5px;

  padding: 2em 0;
  min-height: 100vh;

  @include blueprint-blackground;

  div.project-container {
    @include outer-container;
    padding: $std-margin;
    background-color: $text-background;
    border-radius: $border-radius;

    h1.project-title {
      font-size: $big-font-size;
      margin-bottom: 0.2em;

      span.title-link {
        font-size: 12px;
        background-color: $btn-color;
        padding: 0.25em;
        margin-left: 0.4em;
        border-radius: 5px;
        border: 1px solid darken($btn-color,15%);

        &:hover {
          background-color:  darken($btn-color,10%);
        }

        a {
          color: white;
        }
      }
    }

    h6 {
      color: #444;
      font-size: 15px;
    }
    img {
      @include span-columns(12);
      max-height: 300px;
      margin-bottom: 1.5em;
    }

    .project-text {
      @include span-columns(9);
      @include shift(1);

      margin-top: 1em;
      margin-bottom: 1em;

      color: #444;
      font-size: 1.1em;
      line-height: 30.3667px;
      font-family: serif;
      text-indent: 2.5em;
      text-align: justify;

    }
  }
}

section.project-index {
  $text-color: white;
  @include blueprint-blackground;

  margin-top: -1em;
  border-top: 0.75em solid white;
  height: 100%;
  

  div.index-header{
    margin-top: 0.75em;
    padding-top: 1.5em;
    padding-bottom: 1em;
    text-align: center;
    background-color: darken($btn-color,15%);

    h1,h2 {
      $serif: 'Lusitana', serif;
      $serif-2: 'Merriweather', serif;
      $sans-serif: 'Merriweather Sans', sans-serif;
      font-family: $sans-serif;
      color: white;
      font-size: 32px;
      //text-shadow: -1.25px 0 black, 0 1.25px black, 1.25px 0 black, 0 -1.25px black;
    }

    h2 {
      font-size: 25px;
    }
  }

  div.index-container {
    @include outer-container;

    .hover {
      background-color: rgba(0,0,255,0.3);
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    div.project-thumb {
      background-color: black;

      @include span-columns(6);
      @include omega(2n);

      min-height: 250px;
      margin-bottom: 2.75em;
      position: relative;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }

      a {
        display: none;
        position: absolute;
        font-size: 42px;
        @include centered();

        color: $btn-color;
        text-shadow: -1.25px 0 white, 0 1.25px white, 1.25px 0 white, 0 -1.25px white;
      }


      @include media($mobile) {
        @include span-columns(4);
        @include omega();
      }
    }
  }



  @include media($margin) {
    padding: 0 1em;
  }

  a {
    color: $text-color;

    &:hover {
      font-weight: bold;
    }
  }

  div.pagination {
    text-align: center;
    padding: 1.5em 0 1.5em 0;

    .previous_page,.next_page,
    .current, a {
      background-color: $btn-color;
      color: white;
      padding: 0.25em 0.5em;
      border-radius: 5px;
      font-size: 15px;
      font-weight: bold;
      border: 1.25px solid darken($btn-color, 15%);

      transition: all 0.15s linear;

      &:hover {
        background-color: darken($btn-color, 10%);
      }
    }

    .current {
      background-color: darken($btn-color, 10%);
      font-style: normal;
    }

    .disabled {
      background-color: lighten($btn-color, 20%);
      border: 1px solid lighten($btn-color,10%);

      &:hover {
        background-color: lighten($btn-color, 20%);
      }
    }
  }
}
