$text-background: white;
$background: #269;
$mobile: new-breakpoint(max-width 500px 4);
$margin: new-breakpoint(max-width 980px 4);

@mixin blueprint-blackground() {
  background-color: $background;
  background-image: linear-gradient(white 1px, transparent 1px),
  linear-gradient(90deg, white 1px, transparent 1px),
  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
}

section.project-page {
  $std-margin: 2em 2em 0 2em;
  $big-font-size: 32px;
  $border-radius: 0.75em;

  padding: 3em 0;
  min-height: 100vh;

  @include blueprint-blackground;

  div.project-container {
    @include outer-container;
    padding: $std-margin;

    background-color: $text-background;
    border-radius: $border-radius;

    h1.project-title {
      font-size: $big-font-size;
    }

    a {
      padding-right: 1em;
    }
  }
}

section.project-index {
  $text-color: white;
  @include blueprint-blackground;

  min-height: 100vh;

  div.index-container {
    @include outer-container;

    div.project-thumb {
      background-color: black;

      @include span-columns(6);
      @include omega(2n);

      min-height: 250px;
      margin-bottom: 2.75em;

      @include media($mobile) {
        @include span-columns(4);
        @include omega();
      }
    }
  }

  @include media($margin) {
    padding: 0 1em;
  }

  a {
    color: $text-color;

    &:hover {
      font-weight: bold;
    }
  }

  div.pagination {
    text-align: center;
    padding: 1em 0 1.5em 0;

    .previous_page,.next_page,
    .current, a {
      background-color: green;
      padding: 0.25em 0.5em;
      border-radius: 25%;
    }
  }
}
